@import "modules";

//Imports custom components
@import "components/fonts";
@import "components/buttons";
@import "components/form";
@import "components/modals";
@import "components/tabs";
@import "components/utility";

//Fonts as vars
$open-sans:     'Open Sans', sans-serif;

//Custom Colors
$black:         #030303;

//Import style of pages
@import "pages/footer";
@import "pages/example";

//General Style
@media #{$small-up} {
    body {
        font-family: $open-sans;
    }
}

@media #{$medium-up} {
    body {

    }
}

@media #{$large-up} {
    body {

    }
}
